<!DOCTYPE html>
<html>
    <head>
        <title>let me in</title>
    </head>
    <body>
        <h1>Let me in</h1>
        <div>
            <form action="" method="POST">
                <div>
                    <label for="login-username">Username</label>
                    <input id="login-username" placeholder="Username" name="username" />
                </div>
                <div>
                    <label for="login-password">Password</label>
                    <input id="login-password" type="password" name="password" />
                </div>
                <button type="submit">Log in</button>
            </form>
        </div>
    </body>
</html>
